:root {
  /* Colors: */
  --white: #fff;
  --slate-300: #d5e1ef;
  --slate-400: #94a3b8;
  --slate-500: #68778d;
  --slate-900: #1f314f;
  --blue-500: #3685ff;
  --blue-600: #2c7dfa;
  --blue-700: #1d4ed8;
  --blue-900: #1e3a8a;

  /* Font Size: */
  --fs-h2: 2.2rem;
  --fs-p-normal: 1.5rem;
  --fs-p-small: 1.2rem;

  /* Font Weight: */
  --fw-normal: 400;
  --fw-bold: 700;

  /* Line Height: */
  --lh-h2: 1.2;
  --lh-p: 1.4;

  /* Letter Spacing: */
  --ls-small: 0.2px;

  /* Spacing: */
  --space-40: 40px;
  --space-24: 24px;
  --space-16: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-p-normal);
  line-height: var(--lh-p);
  letter-spacing: var(--ls-small);
  background-color: var(--slate-300);
  color: var(--slate-500);
}

html {
  /* (10px / 16px) * 100 */
  font-size: 62.5%;
  /* changes 1rem to equal 10px */
}

/* 
********************************
MAIN:
********************************
*/

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: inline-block;
  background-color: var(--white);
  width: 320px;
  height: 499px;
  border-radius: 20px;
  padding: var(--space-16) var(--space-16) var(--space-40) var(--space-16);

  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.qr-code-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: var(--space-24);
}

.card-text-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 0 16px;
}

.card-title {
  color: var(--slate-900);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  line-height: var(--lh-h2);
  letter-spacing: normal;
}

.card-description {
  font-size: var(--fs-p-normal);
  font-weight: var(--fw-bold);
}

/* 
********************************
FOOTER:
********************************
*/

.footer-text {
  font-size: var(--fs-p-small);
  color: var(--blue-900);
  text-align: center;
  margin-bottom: var(--space-24);
}

/* Default State */
.footer-link:link {
  color: var(--blue-600);
  text-decoration: none;
}

/* Visited State */
.footer-link:visited {
  color: var(--blue-600);
}

/* State On Hover */
.footer-link:hover {
  color: var(--blue-700);
}

/* State Whilst Being Clicked */
.footer-link:active {
  color: var(--blue-700);
}
