:root {
  /* Colors: */
  --white: #fff;
  --slate-300: #d5e1ef;
  --slate-400: #94a3b8;
  --slate-500: #68778d;
  --slate-900: #1f314f;
  --blue-500: #3685ff;
  --blue-600: #2c7dfa;
  --blue-700: #1d4ed8;
  --blue-900: #1e3a8a;

  /* Font Family */
  --ff-base: "Outfit", sans-serif;

  /* Font Size: */
  --fs-small: 0.75rem /* 12px */;
  --fs-base: 0.9375rem; /* 15px */
  --fs-h2: 1.375rem; /* 22px */

  /* Font Weight: */
  --fw-base: 400;
  --fw-bold: 700;

  /* Line Height: */
  --lh-h2: 1.2;
  --lh-base: 1.4;

  /* Letter Spacing: */
  --ls-base: 0.2px;

  /* Spacing: */
  --sp-40px: 2.5rem;
  --sp-24px: 1.5rem;
  --sp-16px: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
  background-color: var(--slate-300);
  color: var(--slate-500);
}

/* 
********************************
MAIN:
********************************
*/

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  max-width: 20rem;
  border-radius: 1.25rem;
  padding: var(--sp-16px) var(--sp-16px) var(--sp-40px) var(--sp-16px);

  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.card__image {
  max-width: 100%;
  border-radius: 0.625rem;
  margin-bottom: var(--sp-24px);
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 0 1rem;
}

.card__title {
  color: var(--slate-900);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  line-height: var(--lh-h2);
  letter-spacing: normal;
}

/* 
********************************
FOOTER:
********************************
*/

.attribution {
  font-size: var(--fs-small);
  color: var(--blue-900);
  text-align: center;
  margin-bottom: var(--sp-24px);
}

/* LINKS: */
/* Default State */
.attribution a:link {
  color: var(--blue-600);
  text-decoration: none;
}

/* Visited State */
.attribution a:visited {
  color: var(--blue-600);
}

/* State On Hover */
.attribution a:hover {
  color: var(--blue-700);
}

/* State Whilst Being Clicked */
.attribution a:active {
  color: var(--blue-700);
}
